<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <!-- <nav>
    <div class="site-title">
        <a href="/">Home page</a>
        <p>A net Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
  </nav> -->

  <div class="blogs content">
  <h2>All blogs</h2>
  <% if (blogs.length >0) {%>
    <% blogs.forEach(blog => { %>
      <a class="single" href="/blogs/<%= blog._id %>">
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
      </a>
      <% }) %>
  <% } else { %> 
    <p>There are no blogs</p>
  <% } %> 
</div> 

<%- include('./partials/footer.ejs') %>

</body>
</html>